:root {
  --text-primary: #850012;
  --text-secondary: #d1fcff;
  --black: #0f0e0e;
  --white: #fff;
  --secondary: #1783be;
  --primary: #f8f6f6;
  --nav-banner: hsl(41, 53%, 69%);
  --nav-button: #aaa17e;
  --nav-button-hover: #ffce7a;
}

#root {
  width: 100vw;
  text-align: center;
}

.navigation-banner {
  width: 100%; /* Full width */
  background-color: var(--nav-banner); /* Adjust to your desired background color */
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 8px; /* Add spacing between buttons */
  padding: 5px 0; /* Add vertical padding */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.nav-button {
  background-color: var(--nav-button); /* Adjust to your desired button color */
  color: var(--white); /* Button text color */
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: var(--nav-button-hover); /* Adjust hover color */
}

nav ul a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: var(--text-primary);
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

section:first-child {
  padding: 0;
  width: 100%;
}

section {
  padding: 50px 0;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-primary);
  font-family: 'Arial', Courier, sans-serif;
}

h2 {
  font-size:35px;
}

p {
  padding-left: 10%;
  padding-right: 10%;
  color: var(--black);
  font-family: 'Georgia', sans-serif;
}

@media (max-width: 768px) {
  p {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.app {
  margin: 0 auto;
  font-family: 'Ariel', sans-serif;
  background-color: var(--primary); 
}

.top-banner {
  width: 100%; /* Make the banner span the full width of the page */
  height: 180px; /* Adjust the height as needed */
  background-size: cover; /* Ensure the image covers the entire banner */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

.banner-image {
  width: 100%; /* Full width */
  height: 180px; /* Adjust the height to crop the image */
  object-fit: cover; /* Crops the image to fill the container */
}

.header-row {
  display: flex;
  padding-top: 5px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.profile-info {
  display: flex;
  align-items: center; /* Align items vertically */
  gap: 0px; /* Add spacing between the profile picture and the name/button */
}

.name-and-resume {
  display: flex;
  align-items: center; /* Align the name and button vertically */
  gap: 30px; /* Add spacing between the name and the button */
}

.download-button {
  transition: background-color 0.3s ease;
  padding: 8px 12px; /* Adjust button padding */
  font-size: 14px; /* Adjust font size */
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.download-button {
  padding: 10px 20px;
  background-color: var(--text-primary);
  color: var(--primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-button:hover {
  background-color: var(--black);
}

.accent-svg {
  width: 200px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
}

.about-text-wrapper {
  max-width: 600px; /* Set the maximum width */
  margin: 0 auto; /* Center the text horizontally */
  text-align: center; /* Optional: Center-align the text */
}

.app .section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.app .section a {
  color: var(--black);
  text-decoration: underline;
}

.app .section:nth-child(even) {
  background-color: var(--secondary);
}

.app .section:nth-child(even) h1,
.app .section:nth-child(even) h2,
.app .section:nth-child(even) h3,
.app .section:nth-child(even) h4,
.app .section:nth-child(even) h5,
.app .section:nth-child(even) h6 {
  color: var(--text-secondary);
}

.app .section:nth-child(even) p,
.app .section:nth-child(even) li {
  color: var(--white);
}

.app .section:nth-child(even) a {
  color: var(--white);
  text-decoration: underline;
}

/* Common styles for all app icons */
.app .section .icon {
  margin: 10px;
  transition: transform 0.3s ease-in-out;
  color: var(--text-primary);
}

.app .section .icon:hover {
  transform: scale(1.2);
  color: var(--black);
}

/* Styles for even sections */
.app .section:nth-child(even) .icon {
  color: var(--text-secondary);
}

.app .section:nth-child(even) .icon:hover {
  transform: scale(1.2);
  color: var(--white);
}

.icons-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
}

.about-text {
  flex: 1; /* Take remaining space */
}

.decorative-svg {
  /* Ensure no margin or padding on the container */
  margin: 0;
  padding: 0;
}

.decorative-svg img {
  height: 100%;
  width: auto;
  display: block;
}

@media (max-width: 768px) {
  .decorative-svg img {
    display: none; /* Hide the image on smaller screens */
  }
}

.experience-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-item {
  margin-bottom: 30px;
  max-width: 600px;
  width: 100%;
}

.experience-date,
.experience-company {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
}

.experience-highlights {
  list-style-type: disc;
  text-align: left;
  margin-left: 20px;
}

.company-icon {
  width: 130px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
  margin-top: 20px; /* Space between icon and text */
  margin-bottom: 20px;
  vertical-align: middle; /* Align icon with text */
  transition: ease-in-out 0.3s; /* Smooth transition for hover effect */
}

.company-icon:hover {
  transform: scale(1.2); /* Scale up on hover */
  /* transition: transform 0.3s  */
  color: var(--text-primary);
}

.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 10px;
}

.app .section .project a {
  color: var(--white);
  text-decoration: underline;
}

.app .section:nth-child(even) .project{
  background-color: var(--primary);
}

.app .section:nth-child(even) .project h3{
  color: var(--text-primary);
}

.app .section:nth-child(even) .project p {
  color: var(--black);
}

.app .section:nth-child(even) .project a {
  color: var(--black);
  text-decoration: underline;
}


.project {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--secondary); 
  flex: 0 1 calc(33.33% - 10px); /* Three projects per row */
  margin-bottom: 20px; /* Adjust spacing between projects */
}

@media (max-width: 1200px) {
  .project {
    flex: 0 1 calc(50% - 10px); /* Two projects per row on medium-sized screens */
  }
}

@media (max-width: 768px) {
  .project {
    flex: 0 1 calc(100% - 20px); /* One project per row on smaller screens */
  }
}

.project p{
  color: var(--white);
}

.project h3{
  color: var(--text-secondary);
}

.project img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.project-title {
  color: var(--text-primary); /* Adjust to your desired color */
  text-decoration: none; /* Remove underline */
}

.project-title:hover {
  text-decoration: underline; /* Add underline on hover */
  color: var(--text-secondary); /* Change color on hover */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.contact-options {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-option {
  text-align: center;
}

footer,
footer p {
  background-color: var(--secondary); 
  color: var(--white);
  padding: 1px 0;
}

footer a {
  color: var(--white);
  text-decoration: underline;
}

footer a:hover {
  color: var(--text-primary); /* Change color on hover */
}

